<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>


<table>
    <thead>
        <tr>
            <td>Student Name</td>
            <td>Department</td>
        </tr>
    </thead>

<% students.forEach(function(data){ %>

    <tbody>
        <tr>
            <td><%= data.studentName %></td>
            <td><%= data.Department %></td>
        </tr>
    </tbody> 
    
    <% }) %>

</table>


    
</body>
</html>